<p>Two words: nail, salon. It's perfect for money laundering, it's a high-volume, cash-preferred business with a discreet workforce. Nobody does mista-me-know-nothing better than Mrs. Mukjayaporn and her gals.</p>
<p>
Did you not plan for this contingency? I mean the Starship Enterprise had a self-destruct button. I'm just saying. Yeah, you do seem to have a little 'shit creek' action going. Hey, nobody appreciates a passionate woman more than I do. But uh, in this business... and Walt can back me up on this... the uh, number one rule is, don't take things personally.
</p><p>
Drum roll, please. Wait for it. Lazer tag. Lazer tag! 7,000 square feet of rollicking fun in the heart of northern Bernalillo County! It adds up perfectly. Walt's a scientist, scientists love lazers. Plus, they got bumper boats, so...
</p><p>
Yeah! Attorney-client privilege. I mean, that's a big one. That's something I provide for you. If I give up Pinkman, well, then you're gonna be asking, 'Ol' Saul gives 'em up pretty easy. What's to keep him from giving me up?' Y'see, so, then where's the trust?
</p>